.button {
    background-color: #7f92ff;
    border-radius: 10PX;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
    box-shadow: 5px 5px 15px #babecc,
               -5px -5px 15px #ffffff;
}

.button:hover {
    color: #95FFD4;
}

.button:active {
    box-shadow: 0.2em 0.2em 0.2em #00080a6d;
    transform: translate(0.2em, 0.2em);
}