.field {
    margin: 24px 0;
}

.field label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.field input {
    background-color: #fff;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.field input:focus {
    outline:2px solid #7f92ff;
}

.field input[type='color'] {
    height: 40px;
    padding: 5px 24px;
}